<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.79.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="smtp" value="smtp.orange.fr" />
  </appSettings>
<connectionStrings><add name="stockEntities" connectionString="metadata=res://*/stock.csdl|res://*/stock.ssdl|res://*/stock.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;.\data\stock.db&quot;'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>